.createTest{
  text-align: center;
  margin: auto;
  &--title{
    font-size:3.4rem;
    font-weight: 300;
    margin: 1rem;
  }
  &--btn{
    padding: 2rem;
  }
  & input, select{
    padding: 0.5rem;
    min-height: 1.4rem;
    display: inline-block;
    width: 32.5rem;
    outline: none;
  }
  & label{
    display: block;
  }
  select {
    outline: none;
    background: transparent;
    font-size: 1.2rem;
    height: 3.4rem;
    padding: 0.5rem;
    width: 33.5rem;
  }
}


.datePicker{
  display: inline-block;
}

.pullQuestion{
  margin-bottom: 3rem;
}