* {
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  min-height: 100vh; }

body {
  font-size: 1.6rem;
  font-family: "Lato", sans-serif; }

li {
  padding-top: 0.8rem; }

.question-list {
  background-color: #e9e9e9;
  border: 1px solid #a40a3c; }
  .question-list span {
    display: block;
    margin: 0 auto; }

.nav {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-evenly; }
  .nav a:hover, .nav a:visited, .nav a:link, .nav a:active {
    color: #000;
    text-decoration: none; }
