.btn{
  font-size: 1.4rem;
  font-weight: 500;
  position: relative;
  outline: 0;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border: 0.1rem solid $color-primary;
  border-radius: 1.2rem;
  transition: all 0.2s;
  background-color: $color-primary;
  color: $color-white;
  &:hover {
    background-color: $color-secondary;
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    border: 0.1rem solid $color-secondary;
    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }
  &:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }
  &__createTest{
    padding: 1rem 2rem;
    margin: 0.4rem;
  }
  &__pullingOtions{
    margin: 0 2rem;
  }
  &__remove{
    margin: 1rem;
    padding: 1rem 1rem;
  }
}


input[type="file"] {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.importImg {
  display: block;
  margin: 0 auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border: 1px solid $color-black;
  // display: inline-block;
  padding: 0.6rem 1.2rem;
  width: 12rem;
  cursor: pointer;
}