
$color-gray: #e9e9e9;
// $color-gray-dark: #666666;
$color-black: #000;
$color-white: #fbfbfb;

$color-primary: #8f8787; //major button
$color-secondary: #5b5555; //major button howver
$color-tertiary-light: #f8faff; //form background
$color-tertiary-dark: #140107; //accent
$color-text: #fbfbfb; //text on button

