
$color-gray: #e9e9e9;
// $color-gray-dark: #666666;
$color-black: #000;
$color-white: #fbfbfb;


$color-primary: #3e92a3; //major button
$color-secondary: #364f6b; //major button howver
$color-tertiary-light: #f8faff; //form background
$color-tertiary-dark: #353866; //accent
$color-text: #fff; //text on button
