* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%; //1 rem 10px
  @include respond(tab-land) {
    // width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 56.25%
  }
  @include respond(tab-port) {
    // width < 1000?
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }
  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12, 12/16
  }
}
body {
  min-height: 100vh;
}
